@import url("https://fonts.googleapis.com/css?family=Walter+Turncoat");

body {
  margin: 0;
  padding: 0;
  font-family: "Walter Turncoat", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
  color: #333333;
  letter-spacing: 0.08rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

h1,
footer {
  text-align: center;
}

html {
  font-size: 1rem;
}

p {
  font-size: 0.8rem;
}
