.form {
  display: flex;
  justify-content: space-around;
}

.input {
  font-size: 1rem;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border-bottom: 1px solid #333333;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
}

.button {
  font-family: "Walter Turncoat", cursive;
  background-color: #333333;
  color: #f4f4f4;
  border-radius: 1rem;
  padding: 1rem;
  border: none;

  outline: none;
  cursor: pointer;
  transition: background-color 0.1s;
}

.button:hover {
  background-color: cadetblue;
}

.card {
  display: flex;
  margin: 1rem 0;
  box-shadow: -1px 1px 25px 1px#999999;
  border-radius: 1rem;
  background-color: bisque;
}

@media (max-width: 425px) {
  .card {
    display: grid;
  }

  .cardImage {
    margin: auto;
  }

  .form {
    display: block;
    text-align: center;
  }
}

.cardImage {
  padding: 1rem;
}

.cardContent {
  padding: 0 1rem 1rem 1rem;
}
